.root {
    width              : 70%;
    // width           : 20%;
    // background-color: gray;
    height             : 100%;
}

.video {
    width           : 100%;
    background-color: #16161d;
}